<%- include('./partials/header') %>


    <div class="area">
      <!-- <img src="../public/images/s2p-logo.png" width="200" height="200"> -->
      <h1>SLEEP<span id="title">2</span>PEACE</h1>
      <br>
      <h3>Are you getting enough sleep?</h3><br>
      <p>Welcome to your <span id="one">#1</span> guide to tracking your sleep cycles on a daily basis. Our main goal is to help promote good quality sleep for all!</p>
      <br>
      <a id="record-sleeps" href="/sleeps/new">RECORD SLEEPS</a>
    </div>

    
    <%- include('./partials/footer') %>


