<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %> is your #1 guide to tracking your sleep cycles on a daily basis. Our goal is to help promote good quality sleep for all!</p>
    <a href="/sleeps/new">Record Cycle</a>
  </body>
</html>
