@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  background-color: #ECD19C;
  color: #F4F2F3;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: center;
  grid-template-areas: "nav" "main";
  font-family: "Montserrat";
}


/* Main Area:  */
body > main { 
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ECD19C;
  padding: 20px;
  overflow-y: scroll;
}

.area {
  margin-left: 150px;
  margin-right: 150px;
  border: 3px solid #F4F2F3;
  border-radius: 15px;
  background-color: #8CA9D3;
  padding: 30px; 
  text-align: center;
}


/* Nav Bar: */
nav {
  grid-area: nav;
  background-color: #285185;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  margin: 15px;
  text-decoration: none;
  padding: 10px;
  color: #F4F2F3;
  background-color: #285185;
}

nav > a:hover {
  background-color: #F4F2F3;
  border-radius: 15px;
  color: #013328;
}

a:link {
  text-decoration: none;
}

#home {
  color: #ECD19C;
}

#home:hover {
  color: black;
}


/* Home Page: */
h1 {
  font-size: 40px;
  padding: 15px 30px;
  color: #ECD19C;
  border-radius: 15px;
  background-color: #8CA9D3; 
  font-family: 'Raleway';
  font-weight: bold;
  text-align: center;
  text-decoration: underline white;
}

#title {
  color: black;
  background-color: #8CA9D3;
}

h2 {
  background-color: #8CA9D3; 
  color: black;
  text-align: right;
}

h3 {
  color: black;
  background-color: #8CA9D3;
  font-family: "Montserrat"
}

p {
  background-color: #8CA9D3;
}

#one {
  background-color: #8CA9D3; 
  color: black;
}

#record-sleeps {
  border: 6px solid white;
  border-radius: 7px;
  color: black;
  background-color: white; 
  padding: 5px;
  font-weight: bold;
}

#record-sleeps:hover {
  color: #ECD19C;
}
  
/* New Sleep Page: */
#new-form {
  display: grid;
}

form > label {
  background-color: #8CA9D3;
}

input {
  background-color: white;
  color: black;
}

select {
  background-color: white;
  color: black;
}

#add-sleep {
  border: 6px solid white;
  border-radius: 7px;
  color: black;
  background-color: white; 
  padding: 5px;
  font-weight: bold;
}

#add-sleep:hover {
  color: #ECD19C;
}


/* All Sleeps Page: */
table {
  border-collapse: separate;
  border-spacing: 0 15px;
  background-color: #8CA9D3;
}

td {
  width: 150px;
  background-color: #8CA9D3;
}

#see-details {
  border: 2px solid black;
  border-radius: 7px;
  color: black;
  background-color: white; 
  padding: 5px;
}

#see-details:hover {
  color: #ECD19C;
}

form {
  background-color: #8CA9D3;
}

form > button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 7px;
}

form > button:hover {
  background-color: red;
}


/* Show Page: */
#details {
  padding: 20px;
  background-color: #8CA9D3;
}

.detail {
  background-color: #8CA9D3;
}

span {
  color: black;
  background-color: #8CA9D3;
  text-align: right;
}

#add-comment-form {
  background-color: #8CA9D3;
}

form > textarea {
  background-color: white;
  border: 2px solid black;
  color: black;
}

form > input {
  border: 2px solid black;
  border-radius: 7px;
  color: black;
  background-color: white; 
  padding: 5px;
}

form > input:hover {
  color: #ECD19C;
}

#thoughts {
  background-color: #8CA9D3;
}

h5 {
  background-color: #8CA9D3;
  color: black;
}